# Don't track itself since it's tracked via the bare repo in .dotfiles
.dotfiles/*
!.dotfiles/README.md

# Regular user directories
Downloads
dev

# Logs etc
.python_history
.bash_history

# User-level system files
.cache

# Secrets!
.ssh
.config/gh/hosts.yml

# Backups shouldn't be committed, they're just local hedges
*.bkp

# Anythin after this line is uncategorized stuff I redirected in from terminal
.lesshst
.local/state
.local/share/Trash
.local/share/nvim
.local/share/qutebrowser
.local/share/zoxide
