# Don't track itself since it's tracked via the bare repo in .dotfiles
.dotfiles/*

# Regular user directories
Downloads
dev

# Logs etc
.python_history
.bash_history
.histfile
.lesshst

# User-level system files, application stores
.cache
.local/state
.local/share/Trash
.local/share/nvim
.local/share/qutebrowser
.local/share/zoxide
.zcompdump
.config/chromium
.wget-hsts

# Secrets!
.ssh
.config/gh/hosts.yml
.pki

# Backups shouldn't be committed, they're just local hedges
*.bkp
*.bak

# Track some stuff but ignore most of these dirs (may contain secrets, logs,
# and other bad stuff
.gemini/*
!.gemini/settings.json
!.gemini/GEMINI.md
.w3m/*
!.w3m/config

# Package builds/caches/etc
.cargo
build
go
.npm
.npm-global

# Anythin after this line is uncategorized stuff I redirected in from terminal
.bash_logout
