[Desktop Entry]
Name=System -> Lock screen
Comment=Lock the screen using swaylock
Exec=swaylock
Icon=icon-lock-128
Terminal=true
Type=Application
Categories=System;
